.card {
    position: relative;
  width: 90%;
  height: 96.62px;
  left: 5%;
  top: 200.42px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
  display: flex;
  justify-content: space-evenly;
  }

  
.form-id {
    position: relative;
  height: 30.29px;
  top: 32.5px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: underline;
  
  color: #3B77FA;

  justify-content: space-evenly; 
  display: flex;
  }

  .form-content {
    position: relative;
    height: 30.29px;
    top: 10px;   
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;

    justify-content: space-evenly; 
    display: flex;
    
    }

    .table-rejected {
        position: relative;
        width: 10%;
        height: 40.76px;
        top: 10px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        
        color: #FF0303;

        justify-content: space-evenly; 
        display: flex;
        }
        
        .table-accepted {
          position: relative;
          width: 10%;
          height: 40.76px;
          top: 10px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        
        color: #469140;

        justify-content: space-evenly; 
        display: flex;
        
        }
        
        .table-pending {
          position: relative;
          width: 10%;
          height: 40.76px;
          top: 10px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        
        color: #948888;   

        justify-content: space-evenly; 
        display: flex;
}